<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>David_Heremans_Multec_Werkstuk2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4BF21E521280C530013E4CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4BF21FC21280C570013E4CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4BF220721280C570013E4CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
